/*Tags*/

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #ff7500;
        font-size: 16px;
}
h1,
h2 {
    margin: 12px;
}

ol {
    list-style-type: none;
}

li {
    display: inline-flex;
    margin: 12px;
}

/*Classes*/
.container {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(58, 101, 241);
    padding: 10px;
    border-radius: 20px 40px;
    text-align: center;
    -webkit-box-shadow: 5px 5px 40px 5px rgba(250, 250, 250, 0.287);
    box-shadow: 5px 5px 40px 5px rgba(255, 255, 255, 0.5);
}

.fundo-avatar {
    background-image: url("https://www.freewebheaders.com/wp-content/gallery/planets-galaxies/earth-space-horizon-header.jpg");
    background-size: cover;
    height: 120px;
    border-radius: 15px 25px 5px 5px;
}
.avatar {
    width: 160px;
    border-radius: 100px;
    background-color: white;
    border: 10px solid white;
    margin: auto;
    /*margin-top: -40px;*/
    transform: translateY(-40px);
    box-shadow: black;
    -webkit-box-shadow: 5px 5px 40px 5px rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 40px 5px rgba(255, 255, 255, 0.5);
}

.img-certificado {
    background-color: black;
    padding: 10px;
    margin: auto;
    border-radius: 28px 12px;
    max-width: 260px;
    margin: 12px;
}

.imersao {
    color: #ff7500
}

.conteudo {
    padding: 10px;
}

.insignas {
    margin: 10px;
    padding: 5px;
    background-color: #fbc46b !important;
    border-radius: 15px;
    border: 1px solid black;
}
.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}